.side-bar{
    height: 100vh;
    width: 25%;
    border: 0px 1px 0px 0px;
    background-color: #fdfdfd;
    border-right: 1px solid gray;
}

.logo{
    text-align: center;
    margin: 20px;
}

.logo-title{
    font-family: 'Pacifico', cursive;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none; /*추후 링크시 필요 */
}

.logo-title:hover {
    color: blue;
}

.side-bar-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 100px 0px 0px 20px;
}

.side-bar-option{
    width: 90%;
    height: 30px;
}


.side-bar-option:hover {
    background-color: #eeeeee;
}

.option-title{
    font-weight: 700;
    font-size: 20;
    font-family: initial;
}

@media (max-width: 800px) {
    .side-bar {
        display: none;
    }
}